

# ignore all logs
logfiles/*

# ignore user files (inside runs/ directory)
pam_package/runs

# ignore debug_cropped directory
pam_package/debug/

# ignore modified get_plant_area macro
pam_package/macros/get_plant_area_mod.txt
